.ipynb_checkpoints/Python_Introduction-checkpoint.ipynb
.vscode/settings.json
core/.ipynb_checkpoints/Python Dictionaries-checkpoint.ipynb
core/.ipynb_checkpoints/Python Variables and Data Types-checkpoint.ipynb
