.ipynb_checkpoints/Python_Introduction-checkpoint.ipynb
.vscode/settings.json
core/.ipynb_checkpoints/Python Dictionaries-checkpoint.ipynb
core/.ipynb_checkpoints/Python Variables and Data Types-checkpoint.ipynb
core/.ipynb_checkpoints/Python Sets-checkpoint.ipynb
core/.ipynb_checkpoints/Python Tuples-checkpoint.ipynb
NumPy/.ipynb_checkpoints/Python NumPy-checkpoint.ipynb
Pandas/.ipynb_checkpoints/Python Pandas Tutorial-checkpoint.ipynb
NumPy/tree1.txt
WebScraping/imanta.xlsx
WebScraping/maskavas_pardod.xlsx
WebScraping/maskavas-priekshpilseta.xlsx
WebScraping/__pycache__/util.cpython-38.pyc
WebScraping/.ipynb_checkpoints/Apartments-checkpoint.ipynb
WebScraping/.ipynb_checkpoints/Reading Scrapy JSON-checkpoint.ipynb
core/.ipynb_checkpoints/Python Generators-checkpoint.ipynb
Visualization/.ipynb_checkpoints/Matplotlib_in_class-checkpoint.ipynb
Visualization/.ipynb_checkpoints/Mandelbrot_Matplotlib-checkpoint.ipynb
Visualization/.ipynb_checkpoints/Matplotlib in Jupyter-checkpoint.ipynb
Visualization/.ipynb_checkpoints/Matplotlib_full_example-checkpoint.ipynb
Visualization/.ipynb_checkpoints/Plotly 4_in_class-checkpoint.ipynb
Visualization/.ipynb_checkpoints/Plotly_Scatter_plot-checkpoint.ipynb
Visualization/.ipynb_checkpoints/Throw some dice-checkpoint.ipynb
